extends ../layout

block content

  - function calcStageTotal(stage) {
  -  return stage.firstMove + stage.secondMove + stage.thirdMove;
  - }

  h1 Continue
  p
    strong Start date
    p=match.date
  p
    strong Stage:
    | #{match.stages.length}
    - var matchTotal, stageTotal;
    each player, propName in match.players
      - matchTotal = stageTotal = 0;
      ul(data-player=player).player
        li
          p=player
            each stage in match.stages
              - stageTotal = calcStageTotal(stage[propName]);
              - matchTotal += stageTotal;
              .moves
                button.remove-moves Remove
                input(value=stage[propName].firstMove).first-move
                input(value=stage[propName].secondMove).second-move
                input(value=stage[propName].thirdMove).third-move
                span.stage-total = #{stageTotal}
          button.add-moves Add
          .total total = #{301 - matchTotal}
  button Finish
  script(src='/javascripts/continue-match.js')
